.icon-container{
    width:30px ;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;

}
.Information-bg-color{
    background-color:#2C3E50 ;
}
body{
  overflow-x: hidden;
}
